---
---

<a href="/" class="text-primary font-bold text-xl py-1 inline-flex items-center gap-1">
  <span class="text-secondary text-2xl leading-none">●</span>
  <span class="text-black">Akordium</span>
</a>
